@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');



html {
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Kanit', sans-serif;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Kanit', sans-serif;
}

body {
    margin-bottom: 60px;
    background-image: url('/images/background.jpg');
    background-size: cover;
    font-family: 'Kanit', sans-serif;
}
.homepage{
    background-image: url('/images/background.jpg');
    background-size: cover;
}
.IndexDiv {
    position: fixed;
    top: 7%;
    left: 0;
    min-height: 85%;
    min-width: 100%;
    
}

.right-aligned {
    text-align: center;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:60px;
}

.CenteredContainer{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}

    .CenteredContainer form {
        background: rgb(166, 161, 158, 0.5);
        padding: 30px;
        border-radius: 20px;
        margin-top:30px;
    }

.CenteredContainer form a{
    text-decoration:none;
    color:white;
    
}

.CenteredContainer form a:hover{
    text-shadow: 2px 2px 6px #000040;
}

        .CenteredContainer form input {
            border-radius: 20px;
            margin-bottom: 8px;
          
        }
.CenteredContainer form .btn{
    width: 150px;
    font-size:1em;
    margin-top:20px;
}

/*.CenteredContainer form:hover{
    margin:8px;
}*/

.CenteredContainer a,input:focus,submit:focus,button:focus{
    outline:none;
    margin:2px;
}

.nav-item:hover {
    background-color: #767571;
    border-radius:120px;
}
.carousel-item img{
    height:400px;

}
.containers {
    background-image: url('/images/69_generated.jpg');
    background-size: cover;
    padding:50px;
}

.firstpage{
    margin-bottom:150px;
    padding-top:30px;
}
.firstpage h1{
    margin-bottom:30px;
}
.firstpage button {
        margin-left: 300px;
        padding: 17px;
        width: 200px;
        margin-top: 50px;
        margin-top: 20px;
}
.CodesTable table {
    width: 100%
}
.CodesTable thead{
    width: calc(100%-1em);
}
.CodesTable tbody {
    display: block;
    height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.CodesTable thead, .CodesTable tbody tr {
    display: table;
    width: 98%;
    table-layout: fixed;

}
.CodesTable thead, .CodesTable tbody, .CodesTable td{
    border: none !important;
}

.QtyTotal{
    background-image: none;
}
.FobTotal {
    background-image: none;
}
.PriceTotal {
    background-image: none;
}
.AmountTotal {
    background-image: none;
}
.thirdpage {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:100px;
}
.card {
    background-color: #f3f4f6;
    border-radius: 40px;
    margin-top: 50px;
    padding: 40px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.firstpage a {
    padding: 18px 40px;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    background-color: black;
    margin-left: 350px;
}
.firstpage p{
    margin-bottom:60px;
}
.features-page .row .col-4{
    background-image:url('/images/greybg.jpg');
    background-size:cover;
}
.features-page .row .col-4 a{
    text-decoration:none;
    margin-top:40px;
    font-size:20px;
    color:black;
}
    .features-page .row .col-4 a:hover {
        background-color: #767571;
        color: white;
        height:50px;
    }

.first-item img{
    height:300px;
}
.first-item{
    display:flex;
    margin:50px;
}

.card-header{
    display:flex;
}
.card-header img{
    height:40px;
    width:40px;
    margin-right:20px;
}
.card a{
    text-decoration:none;
    color:black;
}

.fourth-page {
    margin-top: 100px;
    background-image: url('/images/69_generated.jpg');
    background-size: cover;
    padding: 50px;

}
    .fourth-page .card {
        background-color: #f3f4f6;
        border-radius: 10px;
        margin-top: 10px;
        padding: 20px;
        box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    }
.fourth-page h1{
    text-align:center;
    margin-bottom:30px;
    font-size:3rem;
}

.contact-page{
    display:flex;
}

.contact-page img {
    height: 600px;
    margin-left:100px;
}
.displays{
    margin:60px 80px;
    font-size:50px;
    text-align:center;
}
.contact-logo {
    height: 120px;
}

.con-1{
    display:flex;
   margin-top:10px;
   margin-bottom:10px;
}
.con-1 img{
   height:30px;
   margin-right:10px;
}
.second-contact{
    text-align:center;
}
.logos{
    display:flex;
    margin-bottom:40px;
}
.logos h3{
    font-size:40px;
    margin-top:70px;
    margin-left:20px;
}
.contacts{
    margin-left:60px;
    background-image:url(/images/greybg.jpg);
    padding:70px;
}