@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');

html {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }
}

html {
    position: relative;
    min-height: 100%;
    
}

body {
    margin-bottom: 60px;
    background-image: url('/images/background.jpg');
    background-size: cover;
}
.IndexDiv {
    position: fixed;
    top: 7%;
    left: 0;
    min-height: 85%;
    min-width: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.right-aligned {
    text-align: center;
}
.footer{
    position:absolute;
    bottom:0;
    width:100%;
    white-space:nowrap;
    line-height:60px;
}

.CenteredContainer{
    position:absolute;
    transform:translate(-50%,-50%);
    top:50%;
    left:50%;
}

    .CenteredContainer form {
        background: rgb(166, 161, 158, 0.5);
        padding: 3em;
        border-radius: 20px
    }

.CenteredContainer form a{
    text-decoration:none;
    color:white;
    font-size:15px;
}

.CenteredContainer form a:hover{
    text-shadow: 2px 2px 6px #000040;
}

.CenteredContainer form input{
    border-radius:20px;
}
.CenteredContainer form .btn{
    width: 150px;
    font-size:1em;
}

/*.CenteredContainer form:hover{
    margin:8px;
}*/

.CenteredContainer a,input:focus,submit:focus,button:focus{
    outline:none;
    margin:2px;
}

.nav-item:hover {
    background-color: #767571;
    border-radius:120px;
}
