@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Features Page";
}
<div class="features-page">
    <div class="row">
        <div class="col-4">
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
                <a class="p-1 rounded" href="#simple-list-item-1">Inventory Management</a>
                <a class="p-1 rounded" href="#simple-list-item-2">Purchasing and Receiving</a>
                <a class="p-1 rounded" href="#simple-list-item-3">Manufacturing</a>
                <a class="p-1 rounded" href="#simple-list-item-4">Sales and Invoicing</a>
            </div>
        </div>
        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <div class="first-item">
                    <div class="text">
                <h1 id="simple-list-item-1">Clean and fast</h1>
                        <h3>Double Entry Inventory</h3>
                        <p>The unique double entry inventory management allows full traceability from the supplier to the customer. Nothing is lost, everything is moved.</p>
                        </div>
                    <div class="img">
                    <img src="~/images/imgbin_feature-phone-smartphone-inventory-management-software-asset-tracking-fire-department-png.png" />
                    </div>
            </div>
            <hr />
            <div class="first-item">
                <div class="text">
                    <h1 id="simple-list-item-2">Basic Operations</h1>
                    <h3>Delivery Orders</h3>
                    <p>Pack orders and deliver with or without barcode scanners. Inventory prepares delivery orders for you based on availabilities.</p>

                    <h3>Inventory Adjustments</h3>
                    <p>Do an inventory for a zone, a specific product, a lot or a pallet/box; Inventory prepares cycle counts for you.</p>

                    <h3>Multiple Locations</h3>
                    <p>Use hierarchical locations to structure your warehouse: zones, rows, shelves, etc.</p>
                    </div>
                    <div class="img">
                        <img src="~/images/inventory-software.png" />
                    </div>
                 
                </div>
                <hr />
            <div class="first-item">
                    <div class="text">
                    <h1 id="simple-list-item-3">Productivity</h1>
                    <h3>Barcode Scanners</h3>
                    <p>Nice unified interface. Use barcode scanners for every inventory operation: inventories, incoming shipments, packing orders, etc. Scan the goods and confirm the reception or sending of those only through the scanner (no keyboard needed). Support EAN13, EAN14.</p>

                  </div>
                    <div class="img">
                    <img src="~/images/warehouse-management-software.png" />
                    </div>
                </div>
                <hr />
            <div class="first-item">
                    <div class="text">
                    <h1 id="simple-list-item-4">Products</h1>
                    <h3>Product Types</h3>
                    <p>Inventory supports several product types that have different behaviour: physical products, consumables, services, digital products.</p>

                    <h3>Custom fields</h3>
                    <p>Add as many custom fields as you want on products to handle your business needs.</p>
                    </div>
                    <div class="img">
                    <img src="/images/inventorymanagement_hero3x.png" />
                    </div>
                    <hr />
               </div>
            </div>
        </div>
    </div>
</div>