@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contacts Page";
}
<div class="contact">
<div class="contact-page">
        <div class="displays">
    <h1>Will Inventory work for you?</h1>
    <h3>Get an honest answer without a pitch.</h3>
        </div>
    <img src="~/images//Spreadsheets-pana.png" />
</div>
    <hr />
    <div class="second-contact">
        <h2>We'd love to hear from you!</h2>
        <p>We’re here from Monday to Friday, and here you can start a conversation!</p>
        </div>
        <div class="contacts">
            <div class="logos">
            <img src="~/images/Spreadsheets-amico.png" class="contact-logo" />
            
            <h3>Contact us</h3>
        </div>
            <div class="con-1">
            <img src="~/images/email.png" />
            <h4>Email</h4>
        </div>
            <p>Our friendly team is here to help!</p>
            <p>inventory.manage@info.com</p>

        <div class="con-1">
            <img src="~/images/address.jpg" />
            <h4>Office</h4>
        </div>
            <p>Come say hello at our office!</p>
            <p>Prishtina,Kosova</p>
     


            <div class="con-1">
            <img src="~/images/phone.png" />
            <h4>Phone</h4>
              </div>
            <p>Mon-Fri from 8am to 5pm</p>
            <p>+383 49 573 621</p>
      
</div>
</div>